<div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
    <h1>AIビジネス人材育成</h1>
    <p>あなたは「AIを使って新規事業を検討しろ！」と社長から言われて困っていたりしませんか？　
    本講座ではAIビジネスをうまく検討するためのスキルと人材育成方法についてお教えします！！
    </p>
</div>
        

          
<div class="container"> 
    <div class="exp">       
        <h4><b>AIビジネス推進人材に必要なスキルとその育成方法</b></h4>
            <table style="font-size:20px;">
              <tr>
                <td width="1120">
                  <b><h7>AIビジネス推進人材に必要なスキルとその育成方法</h7></b>
                　<ul>
                　    <li>前半：AIビジネス構築の課題と必要なスキル</li>
                　    <p>このレクチャーでは、AIビジネス推進人材の全体像をAI開発プロエスから見ていくことで、その人材の役割を理解します。</p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/nI2mAAa9uq4"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                        <br>
                　    <li>後半：AIビジネススキルを獲得するためには</li>
                　　 <p>このレクチャーでは、AIビジネス推進人材に必要となる各種スキルセットの詳細とその獲得方法について学習します。</p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/x-nX-TOMCV0"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                　</ul>
                </td>
              </tr>
            　<tr>
                <td width="1120">
                  <b><h7>AIビジネス企画立案方法</h7></b>
                　<ul>
                     <li>AIビジネス企画立案の実態</li>
                     <p>このレクチャーでは、AIビジネス企画立案ステップを確認してから、実際に弊社がベンチャー企業創業支援時に作成したAI企画書に基づいて具体的な進め方を学習していきます。</p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/7601iFdKnXY "
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                         <br>
                     <li>後半：AIビジネス企画の実効性検証</li>
                　　 <p>このレクチャーでは、AIビジネス企画の実効性を検証して、ビジネスとしての精度を高めるステップについて学習します。</p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/LHltUmFp2ws"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                　</ul>
                </td>
              </tr>
            </table>
    </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>掲載資料</h2>
            <h8><center>動画の資料は以下のページで閲覧・ダウンロードできます。</h8></center>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
            <div class="youtube-container">
                <h1 align="center">    
                <iframe id="player" type="text/html" width="640" height="390"
                  src="//www.slideshare.net/slideshow/embed_code/key/sThgRRAiyTYLat"
                  frameborder="0" allowfullscreen="true"></iframe>
                </h1>
                
            </div>  
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
            <div class="youtube-container">
                <h1 align="center">    
                <iframe id="player" type="text/html" width="640" height="390"
                  src="//www.slideshare.net/slideshow/embed_code/key/1N9MVVJxeFLd6k"
                  frameborder="0" allowfullscreen="true"></iframe>
                </h1>
            </div>  
         </div>  
     </div> 
    <br><br>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>そのほかのAI人材育成コンテンツ</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="data1">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AI開発人材の育成方法</h1>
                <p>
                実際にデータサイエンティストやAIエンジニアとしてAI開発を担う人材として、スいるアップするために、オンラインのUdemy講座を中心として学習・育成方法をお教えします。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#FFFFFF; height:300px;">
            <div class= "gaiyo">
                <a href="seminar">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>AIビジネス推進人材育成プログラム</h1>
                <p>
                この講座で説明しているAIビジネス人材スキルを獲得するために、弊社で２日間の短期トレーニングプログラム「AIビジネス育成プログラム」を提供しています。
                </p>
                </a>
            </div>
        </div>
    </div>
    

    <div class="row">
   　　<div class="logo2">
        <%= link_to image_tag("yoyaku.png"), reserve_path %>
    　</div>
    </div>
</div>