<div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
    <h1>デジタルトランフォーメーションを知る</h1>
    <p>デジタルトランスフォーメーション（DX）を実現するための、ノウハウとステップについて学習します。
    </p>
</div>
        
<div class="container"> 
    <div class="exp">       
        
         <center><h4><b>あなたの会社でデジタルトランスフォーメーション（DX）を実施する方法</b></h4></center>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div>
            <table style="font-size:20px;">
              <tr>
                <td width="1120">
                　<ul>
                　    <li>あなたの会社がAIを使ってデジタル変革を実現するために必要なこと（1時間）</li>
                　        <p> 
                            １．イケてるAI活用とイケてないAI活用<br>
                            ２．AIにおけるビジネス力<br>
                            ３．企業としての次世代ビジネスモデルの競争源<br>
                            ４．デジタルトランスフォーメーションの実現ステップ<br>
                        </p>

                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/bPW7xISbwjE"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                        <br>
                　　 <li>ディスラプションやデジタルトランスフォーメーションを見据えたデジタル戦略立案（1時間）</li>
                        <p> 
                            １．デジタル戦略立案ステップ<br>
                            ２．AI×IoT時代のマクロ環境<br>
                            ３．AI×IoT時代のデジタルビジネスモデル<br>
                            ４．AI×IoT時代のデジタルビジネスの本質<br>
                            ５．AI×IoT時代のデジタル戦略立案<br>
                        </p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/aRCOjfl7aEQ"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                　</ul>
                </td>
              </tr>
            </table><br><br>
    </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>関連する弊社サービス</h2>
            <P><center>弊社ではデジタルトランスフォーメーション（DX）に向けた組織改革・デジタル戦略立案・デジタルビジネスモデル立案の各種サービスを展開しています。<P></center>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>デジタル戦略立案支援</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/e6lpMzZ7d6pGm8"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>  
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>デジタルビジネス立案</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/704AUwA807RIha"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>デジタル組織改革</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/iaN6QxUfA1K0KO"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>  
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>自社データAI活用支援</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/CFD6n1v7vjNfJa"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>
        </div>


        
     </div>
</div>