<div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
    <h1>AIモデル開発人材育成</h1>
    <p>あなたはAIエンジニア／データサイエンティストへのスキルアップを目指していませんか？　
    本講座ではAIモデル構築力を養うための効果的かつ効率的な学習ステップについてお教えします。
    </p>
</div>
        
<div class="container"> 
    <div class="exp">       
        <h4><b>AI（人工知能）開発スキルの最適な学び方を学ぶ講座</b></h4>
            <table style="font-size:20px;">
              <tr>
                <td width="1120">
                  <b><h7>AIビジネス推進人材に必要なスキルとその育成方法</h7></b>
                　<ul>
                　    <li>AI開発プロジェクトの基礎</li>
                　    <p>このレクチャーで、はAI開発やAIプロジェクトを把握して、AI活用に必要なスキル体系を理解します。</p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/jZjL6-K7caY"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                        <br>
                　    <li>AI人材のトレンドとスキル獲得に向けたロードマップ</li>
                　　 <p>
                　　   AI人材を整理したうえで  AIの民主化トレンドがAI人材にどのような影響を与える見込みなのかを理解します。さらにAIスキル獲得に向けた基本ロードマップを説明します。
                　　 </p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/7EdMqbSAASI"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                        <br>
                     <li>データサイエンススキルの獲得/li>
                     <p>このレクチャーでは、あなたのスキル獲得の道しるべとなるようにUdemy講座を中心にデータサイエンススキルの獲得方法について詳細に説明します。</p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/tWqoGR4JBkA"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                         <br>
                     <li>データエンジニアリングスキルとAIビジネススキルの獲得</li>
                　　 <p>このレクチャーでは、Udemy講座を中心にデータエンジニアリングスキルとAIビジネススキルの獲得方法について詳細に説明します。</p>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/aavxQG2lqR4"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                　</ul>
                </td>
              </tr>
            </table>
    </div>


    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>掲載資料</h2>
            <h8><center>動画の資料は以下のページで閲覧・ダウンロードできます。</h8></center>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
            <div class="youtube-container">
                <h1 align="center">    
                <iframe id="player" type="text/html" width="640" height="390"
                  src="//www.slideshare.net/slideshow/embed_code/key/kG7movdD3CuLEZ"
                  frameborder="0" allowfullscreen="true"></iframe>
                </h1>
                
            </div>  
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
            <div class="youtube-container">
                <h1 align="center">    
                <iframe id="player" type="text/html" width="640" height="390"
                  src="//www.slideshare.net/slideshow/embed_code/key/3Mm7xsyMfKjfIi"
                  frameborder="0" allowfullscreen="true"></iframe>
                </h1>
            </div>  
         </div>  
     </div> 
    <br><br>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFF; height:150px;">
            <h2>そのほかのAI人材育成コンテンツ</h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#FFFFFF; height:400px;">
            <div class= "gaiyo">
                <a href="business1">
                <div class="icon"><%= image_tag "thinking.png" %></div>
                <h1>AIビジネス人材の育成方法</h1>
                <p>
                あなたは「AIを使って新規事業を検討しろ！」と社長から言われて困っていたりしませんか？ AIビジネスをうまく検討するためのスキルと人材育成方法についてお教えします。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12" style="background:#FFFFFF; height:400px;">
            <div class= "gaiyo">
                <a href="seminar">
                <div class="icon"><%= image_tag "teacher.png" %></div>
                <h1>AIビジネス推進人材育成プログラム</h1>
                <p>
                この講座で説明しているAIビジネス人材スキルを獲得するために、弊社で２日間の短期トレーニングプログラム「AIビジネス育成プログラム」を提供しています。
                </p>
                </a>
            </div>
        </div>
    </div>
    
    
    <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:100px;">
        <div class="logo2">
            <%= link_to image_tag("yoyaku.png"), reserve_path %>
        </div>
    </div>
        
</div>