    <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
        <h1>ノウハウ伝授の場</h1>
        <p>弊社が提供するノウハウの一部を公開しています。また、AIやブロックチェーンを自身で学習するためのステップをまとめており、
        実際にテクノロジー学びたい方は道標として活用ください。
        </p>
    </div>

    
    <h1>あなたの会社がAIを使ってデジタル変革を実現するために必要なこと（1時間）</h1>
    <p> 
        １．イケてるAI活用とイケてないAI活用<br>
        ２．AIにおけるビジネス力<br>
        ３．企業としての次世代ビジネスモデルの競争源<br>
        ４．デジタルトランスフォーメーションの実現ステップ<br>
    </p>
    <div class="youtube-container">
        <h1 align="center">    
        <iframe id="player" type="text/html" width="640" height="390"
          src="https://www.youtube.com/embed/bPW7xISbwjE"
          frameborder="0" allowfullscreen="true"></iframe>
        </h1>
    </div>

    <h1>ディスラプションやデジタルトランスフォーメーションを見据えたデジタル戦略立案（1時間）</h1>
    <p> 
        １．デジタル戦略立案ステップ<br>
        ２．AI×IoT時代のマクロ環境<br>
        ３．AI×IoT時代のデジタルビジネスモデル<br>
        ４．AI×IoT時代のデジタルビジネスの本質<br>
        ５．AI×IoT時代のデジタル戦略立案<br>
    </p>
        <div class="youtube-container">
        <h1 align="center">    
        <iframe id="player" type="text/html" width="640" height="390"
          src="https://www.youtube.com/embed/aRCOjfl7aEQ"
          frameborder="0" allowfullscreen="true"></iframe>
        </h1>
    </div>
    
    <h1>AI×IoTビジネス研修（導入編：AI×ビジネスの基礎知識を獲得できます）（1時間52分）</h1>

        <div class="youtube-container">
        <h1 align="center">    
        <iframe id="player" type="text/html" width="640" height="390"
          src="https://www.youtube.com/embed/mOzvx8wG_cM"
          frameborder="0" allowfullscreen="true"></iframe>
        </h1>
    </div>
    
        <h1>チャットボットを業務に適用するにはどうしたらいいのか？UXチャット業務デザイン（1時間）</h1>

        <div class="youtube-container">
        <h1 align="center">    
        <iframe id="player" type="text/html" width="640" height="390"
          src="https://www.youtube.com/embed/nJ3R25mUmFM"
          frameborder="0" allowfullscreen="true"></iframe>
        </h1>
    </div>
 
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFFF; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
</div>