    <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
        <h1>ノウハウ伝授の場</h1>
        <p>弊社が提供するノウハウの一部を公開しています。また、AIやブロックチェーンを自身で学習するためのステップをまとめており、
        実際にテクノロジー学びたい方は道標として活用ください。
        </p>
    </div>
        
    <div class="row">
        <div class="col-md-12" style="background:#ffffff; " >
            <p>
            AIなどのテクノロジー活用ノウハウについて公開しております。今後様々なコンテンツを随時更新していきますので、
            ツイッター／フェイスブックでフォローしていただき更新情報をお待ちください。
            <h2><%= link_to image_tag("twitter.png"), "https://twitter.com/edutech_partnar" %>
            <%= link_to image_tag("facebook.jpg"), "https://www.facebook.com/%E3%82%A8%E3%83%87%E3%83%A5%E3%83%86%E3%83%83%E3%82%AF%E3%83%91%E3%83%BC%E3%83%88%E3%83%8A%E3%83%BC%E3%82%BA-301615603681595/" %></h2>
    　　</div>
    </div>
        
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:80px;">
            <h2>AIビジネス力を学ぶ</h2>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F1F3FE;">
            <div class= "gaiyo">
                <a href= "learning/shin-nihon">
                <h1>データ分析の必要性（シン二ホン）</h1>
                <p>ヤフー株式会社チーフストラテジーオフィサー（CSO）の安宅和人氏のスライドです。
                日本企業に対するデータサイエンスの必要性を感じてください。Youtubeに動画もあるので是非見ましょう。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F1F3FE; ">
            <div class= "gaiyo">
                <a href= "learning/business1">
                <h1>AIビジネス検討に必要なノウハウ</h1>
                <p>AIでビジネス検討に必要となるスキルとそれを活用した弊社オリジナルのAIモデルキャンバスについて説明します。
                AIモデルキャンバスを無料公開しているため、御社のビジネス検討にご活用ください。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F1F3FE; ">
            <div class= "gaiyo">
                <a href= "learning/business2">
                <h1>データ分析の組織での活かし方</h1>
                <p>実際にAIビジネス活用していくためには社内でデータ分析を活用する組織や文化を醸成する必要があります。
                AIモデルやデータ分析を社内で活かすための組織作りについて説明します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F1F3FE;">
            <div class= "gaiyo">
                <a href= "#">
                <h1>AIベンダー／発注企業の衝突あるある</h1>
                <p>次回更新予定<br><br><br>
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F1F3FE;">
            <div class= "gaiyo">
                <a href= "#">
                <h1>AI開発ベンダーの選び方</h1>
                <p>次回更新予定<br><br><br>
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F1F3FE; ">
            <div class= "gaiyo">
                <a href= "#">
                <h1>AI開発の発注方法</h1>
                <p>次回更新予定<br><br><br>
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#F1F3FE; ">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#ffffff; height:80px;">
            <h2>データサイエンティストへの道</h2>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff; height:150px;">
            <div class= "gaiyo">
                <a href= "learning/data1">
                <h1>ゼロからデータサイエンスの学び方</h1>
                <p>データサイエンティストへの第一歩としてデータ分析力を向上させるにはどうしたら良いでしょうか？
                まずはエクセルを利用したデータ分析ができるようになるステップを紹介します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff; height:150px;">
            <div class= "gaiyo">
                <a href= "learning/data2">
                <h1>エクセル統計分析をマスターしよう</h1>
                <p>データサイエンティストへの第一歩としてデータ分析力を向上させるにはどうしたら良いでしょうか？
                まずはエクセルを利用したデータ分析ができるようになるステップを紹介します。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12" style="background:#ffffff; height:150px;">
            <div class= "gaiyo">
                <a href= "#">
                <h1>R言語データ分析を身につけよう</h1>
                <p>次回更新予定<br><br><br>
                </p>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFFF; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
</div>