        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>エディテックパートナーズ<br>
            について</h1>
        </div>
        
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <p>
            エデュテックパートナーズは、AIなど全くわからない、
            ましてプログラミングもしたことない非エンジニアの
            ビジネスマンの皆様に、AI・IoT・ブロックチェーンなどの最新テクノロジー
            利用したビジネス検討ができるようになるべくスキル支援をする
            研修と育成支援型コンサルティングサービスを提供します。
            </p><br>
    　　</div>
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>ビジョン</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>
            テクノロジーを活用したビジネス検討モデルの一般化により、
            誰もがAI・IoT・ブロックチェーンでビジネス検討ができる社会を実現する。
            </p>
    　　</div>
  
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>ミッション</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>
            テクノロジーを活用したビジネス検討モデルを普及させ、日本企業における
            テクノロジー企画社員の育成を支援することで、10年1000社のイノベーション支援を達成する。
            </p>
        </div><br><br>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>会社概要</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <div class="col-md-12 col-xs-12" style="background:#ffffff;" >            
            <table>
            <br>
              <tr>
                <td width="150" >社名</td>
                <td width="600">
                    株式会社エデュテックパートナーズ<br>
                    EduTech Partnars Co.,<br>
                </td>
              </tr>
              <tr>
                <td>本社所在地</td>
                <td>
                    〒141-0001<br>
                    東京都品川区北品川5-5-15<br>
                    大崎ブライトコア3階<br>
                </td>
              </tr>
              <tr>
                <td>代表者</td>
                <td>
                    代表取締役社長　柴田 真吾<br>
                </td>
              </tr>
              <tr>
                <td>設立</td>
                <td>
                   2017年11月30日<br>
                </td>
              </tr>
              <tr>
                <td>資本金</td>
                <td>
                    100万円（2017年11月30日現在）<br>
                </td>
              </tr>
            　<tr>
                <td>事業内容</td>
                <td>
                    経営コンサルタント業<br>
                    人材の育成、能力開発のための教育、研修事業<br>
                    コンピューターのソフトウェアの企画、開発、設計、製作<br>
                </td>
              </tr>
            </table>
            </div>
        </div>
    </div>
</div>



        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

