        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>２５１（ニコイチ）について</h1>
        </div>
        


<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; height:200px;" >
            <h4>ビジョン</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
    　　</div>
  
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; height:200px;" >
            <h4>ミッション</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
        </div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; height:300px;" >
            <h4>会社概要</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
        </div>
    </div>
</div>



        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

