        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>アプローチ</h1>
        </div>
        


<div class="exp">            
    <div class="row">
        <h4>アプローチ</h4>
        <div class="col-xs-12" style="background:#A8ACAB; height:1px;" ></div>
            
        <h1>テクノロジー×ビジネス</h1>
        <p>AIやブロックチェーンなどの最新テクノロジーをビジネスで活かすことが必須の時代に突入しました。
        しかしながら、十分に活かしてビジネスを考えられる経営企画や経営コンサルタントはどのくらいいるのでしょうか？
        いわゆる一流のコンサルファームのコンサルタントですら、AIやブロックチェーンなどでビジネスを
        考えられる方は一握りでしかありません。一方でAIなどの開発ができるエンジニアはビジネス力が不
        足している方が多く見受けられます。２５１テクノロジーはテクノロジーとビジネス戦略双方
        のエキスパートにより、テクノロジーでビジネスを考えることが必須の時代に必要なスキル獲得を支援します。</p>
         
        <h1>コンサルティング×教育</h1>
        <p>高いお金を払ってレポートを受領するだけの従来のコンサルティング
        は本当に意味があるのでしょうか？結局はレポートだけで何も残らない
        といったことも少なくありません。弊社は研修を基礎としたコンサル
        ティングサービスを提供することで、お客様社内の人員育成とビジネス
        支援を同時に提供します。これにより、新規事業立案などのコンサルティング成果はもとより、
        お客様の人材育成そのものも目的として長期的に効果のあるコンサルティングをご提供します。</p>
    　
 
        <h4>ノウハウ</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>


        <h1>論点思考</h1>
        <p>論点思考は戦略コンサルタントに必要な課題解決スキルとしてＫＡＮＡＴＡ代表 高松智史が「考えるエンジン講座」で伝授するコンサルティングの必須スキルです。現役コンサルタントですらケースに取り組む根本的な考え方が一変します。弊社は２５１流の論点思考に基づいて、BCG／マッキンゼー／アクセンチュアなどと同等以上のトップファームのコンサルティングサービスを提供しています。
        </p>
        
        <h1>デザイン思考</h1>
        <p>デザイン思考はシリコンバレーを中心に広まったビジネス発想術です。観察や体験を通じて顧客のニーズやインサイトから「本当の課題」を見つけ出し、ビジネスを発想することを重視します。弊社はリーンスタートアップやデザイン思考の手法を活用してサービスを提供しており、テクノロジー×ビジネスと同時にデザイン思考などの手法も学ぶことができ、より実践的なビジネスノウハウを取得できます。
        </p>
        <h1>データ／テクノロジー発想</h1>
        <p>顧客起点だけでは顧客の範囲（ニーズ／インサイト）を超えるイノベーションは起きません。顧客がAIやブロックチェーンを知らない限り、それで解決できるニーズを見つけることができないからです。AI・IoT・ブロックチェーンなどのテクノロジーは何ができるのか？　どういったデータからどういったビジネスが創造できるのか？といったデータとテクノロジー起点の発想が顧客を超えたビジネスを創造することができます。２５１のトレーニングではデータやテクノロジー起点の発想を重視したサービスを提供しています。
        </p>
    
    </div>
</div>



        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

