        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AIビジネス立案ノウハウの獲得</h1>
            <p>あなたは「AIを使って新規事業を検討しろ！」と社長から言われて困っていたりしませんか？　
            本講座では大手コンサルティングファームで多くの実績をもったコンサルタントがAIを使ったビジネス検討のノウハウをご提供いたします。
            </p>
        </div>
        
<div class="container">   

    <div class="col-md-12" style="background:#ffffff; " >
         <h4>AI×IoTビジネス研修 基礎編</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div>
            <table style="font-size:20px;">
              <tr>
                <td width="1000">
                  <h7>はじめにAIビジネスを知る</h7><br>
                　<ul>
                　    <li>はじめにAIとそのビジネス活用を知る</li>
                        <div class="youtube-container">
                            <h1 align="center">    
                            <iframe id="player" type="text/html" width="320" height="195"
                              src="https://www.youtube.com/embed/dLc0IwhsEMA"
                              frameborder="0" allowfullscreen="true"></iframe>
                            </h1>
                        </div>
                　　 <li>事例から見るAIの全体像</li>
                　　 <video src=".mp4"></video>
                　</ul>
                </td>
              </tr>
            　<tr>
                <td width="1000">
                  <h7>はじめにAIビジネスを知る</h7><br>
                　<ul>
                     <li>AIビジネスキャンバスの学習</li>
                     <li>ケーススタディ１：きゅうりの画像識別</li>
                     <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
            　<tr>
                <td width="1000">
                  <h7>AIの基礎知識</h7><br>
                　<ul>
                     <li>AIの基礎知識（機械学習）</li>    
                     <video src="video.mp4"></video>
                     <li>AIの基礎知識（ディープラーニング）</li>  
                     <video src="video.mp4"></video>
                     <li>AIの基礎知識（深層強化学習）</li>
                     <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
              
            　<tr>
                <td width="1000">
                  <h7>AIが出来ること／出来ないことの確認</h7><br>
                　<ul>
                    <li>AIが出来ること／出来ないこと①～②</li>
                    <li>ケーススタディ２：AIが出来ること／出来ないことの精査</li>
                    <video src="video.mp4"></video>
                    <li>AIが出来ること／出来ないこと③～④</li>
                    <li>ケーススタディ３：AIの精度の担保</li>
                    <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
             
            　<tr>
                <td width="1000">
                  <h7>AIビジネス検討の総合演習</h7><br>
                　<ul>
                    <li>ケーススタディ４：医療におけるAI活用</li>
                    <video src="video.mp4"></video>
                    <li>ケーススタディ５：データの整備</li>
                    <video src="video.mp4"></video>
                　</ul>
                </td>
              </tr>
            </table><br><br>
    </div>



    <div class="row">


        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>