        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI開発支援</h1>
        </div>
        
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <p>
            機械学習モデルの特許取得までしている専門性の高いデータサイエンティストにより、データ活用案の精査や、AI活用に向けた実証実験、機械学習モデル構築を支援します。
            </p><br>
    　　</div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4>弊社によるAI開発コンサルティング</h4>
            <h1>■弊社のAI開発は現状のデータを精査するデータ会議を経てからAIビジネスモデル立案⇒実証実験と進めます。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "model1.png" %>><br><br>
            <h1>■データ会議においてデータ外形的チェックと内容チェックを事前に実施することで、お客様とデータ起点での議論を踏まえることで現実的にAIで何ができるのかを共有することができます。</h1>
            <img class="img-responsive center-block" src=<%= asset_path "model3.png" %>><br><br>
    　　</div>
    　　
    　　
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4><a href=http://geeklabs.co.jp/>株式会社ジーエルシー様との開発協力</a></h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>ジーエルシーはコールセンターシステムなどを取り扱うアクトコールグループのコールセンターデジタル化などのAI事業やIoT事業を担う専門会社です。
            AIコンサルティングから開発・運用に至るまで一貫した対応を取ることができます。</p>
            <h1>提携関係</h1>
            <ul>
                <li>弊社セミナーの代理店販売</li>
                <li>案件に応じたAIやIoT開発連携</li>
            </ul>
            <br><br>
            <h4>AIベンダー選定支援</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>現在、ベンチャー企業の増加により200社以上のAIベンダーが乱立しています。一括りにAIベンダーといっても対応分野や能力はまちまちです。
            よって、実現したいサービスに応じて最適なAIベンダーを選定する必要があります。弊社は様々なAIベンダーに熟知しており、お客様の実現したい
            レベルに応じたAIベンダーの選定が可能です。</p>
            <h1>支援内容</h1>
            <ul>
                <li>実現したいAIモデルの難易度評価</li>
                <li>最適なAIベンダーの選定</li>
                <li>最適なRFP（発注依頼書）策定支援</li>   
                <li>AIベンダーとの交渉支援</li>         
            </ul>
    　　</div>
 

        </div>
    </div>
</div>


        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

