        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI開発支援</h1>
        </div>
        
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <p>
            弊社は直接的にAI開発などに対応することはありませんが、弊社セミナーの代理店販売をしている
            AI開発／IoT開発事業を手掛ける株式会社ジーエルシー社などと連携し、実証実験やAIシステム開発
            などに向けた支援をいたします。
            </p><br>
    　　</div>
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
            <h4><a href=http://geeklabs.co.jp/>株式会社ジーエルシー</a></h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>ジーエルシーはコールセンターシステムなどを取り扱うアクトコールグループのコールセンターデジタル化などのAI事業やIoT事業を担う専門会社です。
            AIコンサルティングから開発・運用に至るまで一貫した対応を取ることができます。</p>
            <h1>提携関係</h1>
            <ul>
                <li>弊社セミナーの代理店販売</li>
                <li>案件に応じたAIやIoT開発連携</li>
            </ul>
            <br><br>
            <h4>AIベンダー選定支援</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <p>現在、ベンチャー企業の増加により200社以上のAIベンダーが乱立しています。一括りにAIベンダーといっても対応分野や能力はまちまちです。
            よって、実現したいサービスに応じて最適なAIベンダーを選定する必要があります。弊社は様々なAIベンダーに熟知しており、お客様の実現したい
            レベルに応じたAIベンダーの選定が可能です。</p>
            <h1>支援内容</h1>
            <ul>
                <li>実現したいAIモデルの難易度評価</li>
                <li>最適なAIベンダーの選定</li>
                <li>最適なRFP（発注依頼書）策定支援</li>   
                <li>AIベンダーとの交渉支援</li>         
            </ul>
    　　</div>
 

        </div>
    </div>
</div>


        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
</div>

