        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>テクノロジー最新情報<br>×<br>事例収集</h1>
            <p>AI・IoT・ブロックチェーンなどのテクノロジー専門サイトから有力な情報源となるメディアを選定しています。
            日々更新される最新テクノロジー情報を各メディアから取得して下さい。
            </p>
        </div>
        
    <div class="row">
        <div class="col-md-12" style="background:#ffffff; " >
            <p>
            とはいえ膨大なメディアを毎日みるのは大変という方向けに弊社ツイッターまたはFacebookアカウントにて各サイトから厳選したテクノロジー情報の
            サマリーを配信しています。ただフォローするだけで最新テクノロジー情報を収集しましょう！
            <h2><%= link_to image_tag("twitter.png"), "https://twitter.com/edutech_partnar" %>
            <%= link_to image_tag("facebook.jpg"), "https://www.facebook.com/%E3%82%A8%E3%83%87%E3%83%A5%E3%83%86%E3%83%83%E3%82%AF%E3%83%91%E3%83%BC%E3%83%88%E3%83%8A%E3%83%BC%E3%82%BA-301615603681595/" %></h2>
    　　</div>
    </div>
        
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:80px;">
            <h2>AI/人工知能</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href= "ainow">
                <h1>AINOW</h1>
                <p>毎日多数のAIニュースが掲載されるため動向確認に活用できます
                </p>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="robotstart">
                <h1>ロボスタ</h1>
                <p>ロボティクス＋AIニュースを毎日多数ピックアップしてくれます
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="ai4u">
                <h1>AI4U</h1>
                <p>主要なAIニュースをピックアップしてくれます。更新頻度は低め
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="seamless">
                <h1>Seamless</h1>
                <p>AIとVR最新論文や研究結果を日本語で教えてくれる便利なサイト
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="mit">
                <h1>MITﾃｸﾉﾛｼﾞｰﾚﾋﾞｭｰ</h1>
                <p>AIなどの最新テクノロジー情報の詳細な解説記事などを掲載
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="deeplearning">
                <h1>Deeplearning論文</h1>
                <p>ディープラーニング論文の最新技術動向が確認できます
                </p>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFFF; height:80px;">
            <h2>IoT</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="iotnews">
                <h1>IoTNEWS</h1>
                <p>毎日IoTニュースが多数掲載され、動向確認に便利です。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="iottoday">
                <h1>IoTToday</h1>
                <p>IoT技術/ビジネスの詳細な解説記事が良いです。更新頻度は低め
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="monoist">
                <h1>MONOist</h1>
                <p>モノづくり系テクノロジーメディア。製造系IoTニュースの把握に
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="techfactory">
                <h1>TechFactory</h1>
                <p>同じく製造系テクノロジーニュースメディア。製造系IoTの把握に
                </p>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:80px;">
            <h2>ブロックチェーン</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="bcbiz">
                <h1>Blockchain Biz</h1>
                <p>ブロックチェーン技術や仮想通貨とうのサービス動向把握に便利
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="btcn">
                <h1>BTCN</h1>
                <p>ビットコインを主としたブロックチェーン技術やサービス把握に
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="doublehash">
                <h1>ビットコイン研究所</h1>
                <p>ビットコイン動向などの詳細な解説をブログで頻繁に更新
                </p>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFFF; height:80px;">
            <h2>IT全般</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="netcommerce">
                <h1>ネットコマース</h1>
                <p>「これ1枚でわかるIT」著者が分かりやすくITを解説
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="itpro">
                <h1>ITpro</h1>
                <p>IT情報の老舗メディア。全般的なITニュースの把握に使います
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="itmedia">
                <h1>ITmedia</h1>
                <p>こちらも豊富にIT情報を掲載している巨大なITメディアサイト
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="techcrunch">
                <h1>TechCrnch</h1>
                <p>WEBベンチャーを中心に、テクノロジーニュースなども掲載
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="bridge">
                <h1>THE BRIDGE</h1>
                <p>主としてWEB系ベンチャーニュースや資金調達情報などを毎日更新
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="cloud">
                <h1>クラウドWatch</h1>
                <p>クラウドサービス動向を中心にITニュースを毎日更新
                </p>
                </a>
            </div>
        </div>
    </div>
       
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:80px;">
            <h2>VR/AR/MR</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="moguravr">
                <h1>MonguraVR</h1>
                <p>VR関連ニュースを毎日ピックアップしてくれるため動向把握に便利
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="vrbeat">
                <h1>VRbeat</h1>
                <p>こちらも更新頻度高めにVR関連ニュースを提示してくれます
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="seamless">
                <h1>Seamless</h1>
                <p>AIとVR最新論文や研究結果を日本語で教えてくれる便利なサイト
                </p>
                </a>
            </div>
        </div>
    </div>       


    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFFF; height:80px;">
            <h2>ドローン</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="drone">
                <h1>DRONE</h1>
                <p>更新頻度は低めですが、ドローン関連のニュースの専門メディア
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="dronemedia">
                <h1>DroneMedia</h1>
                <p>ドローン関連のニュースの専門メディア。DRONEと併用すると良い
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="bank">
                <h1>DroneBank</h1>
                <p>ソフトバンクのドローンメディア。更新頻度は低いが内容は濃い
                </p>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:80px;">
            <h2>3Dプリンター</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="makers">
                <h1>MakersLove</h1>
                <p>更新が続いてる数少ない３Dプリンター専門メディアです。
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="itmedia3d">
                <h1>ITmedia 3Dプリンタ</h1>
                <p>ITmediaの3Dプリンタ記事でも多くの3Dプリンターニュースを掲載
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
        </div>
    </div> 

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFFF; height:80px;">
            <h2>デジタルマーケティング</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="marketing">
                <h1>ITmedia ﾏｰｹﾃｨﾝｸﾞ</h1>
                <p>ITmediaのマーケティングニュース。最新サービス動向を把握
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="digiday">
                <h1>DIGIDAY</h1>
                <p>デジタルマーケティング専門メディア。最新動向が把握可能
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#FFFFFFF; height:120px;">
            <div class= "gaiyo">
                <a href="markezine">
                <h1>MarkeZine</h1>
                <p>広告・マーケの最新動向が分かるマーケター向けメディア
                </p>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#F1F3FE; height:80px;">
            <h2>Fintech</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="fintechonline">
                <h1>Fintech online</h1>
                <p>フィンテック専門メディアです。最新動向把握に利用します
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="itmediafintech">
                <h1>ITmedia Fintech</h1>
                <p>ITmediaのフィンテックニュース。最新動向が確認できます
                </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="background:#F1F3FE; height:120px;">
            <div class= "gaiyo">
                <a href="finte">
                <h1>finte</h1>
                <p>フィンテック専門メディア。ブロックチェーンニュースも把握可能
                </p>
                </a>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-xs-12" style="padding:0; background:#FFFFFFF; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
</div>