<div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
    <h1>AIセミナーの講師紹介</h1>
</div>

<div class="exp">
<div class="container">
    <div class="row">
        <div class="col-xs-12" style="background:#000000; height:2px;" >
        </div>

        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
            <br>
            <img class="img-responsive center-block" src=<%= asset_path "shibata.jpg" %>>
    　　</div>
        <div class="col-md-8 col-xs-12" style="background:#ffffff" >
            <h1>柴田真吾</h1>
            <h1>Shingo Shibata</h1>
            <h1>CEO／メイン講師</h1>
            <h1>慶應義塾大学総合政策学部卒</h1>
            <p>アクセンチュア、KPMG FAS、教育ベンチャーKANATAを経てエデュテックパートナーズを創設。
            コンサルタントとしてシステム構築からアナリティクス・
            戦略まで幅広いコンサルタント業務を経験。自らアナリティクスを活用する
            実績を活かして、テクノロジー×ビジネス研修コンテンツを開発し、テクノロジー講座の主講師を担当
            </p>       

            <h4>講師実績</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div>
                <p>
                これまでにBCG、デロイト、アクセンチュアなどの若手コンサルタント、
                営業、経理、経営企画職などを中心に述べ80人以上の方々に対して
                、AI・IoT・ブロックチェーンでビジネスを考える研修を提供
                </p>
        
            <h4>コンサルティング実績</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div>
            <br>

            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>ビジネス</h1>
                <ul>
                    <li>M&A戦略策定支援</li>
                    <li>各種デューデリジェンス</li>
                    <li>買収後統合支援（PMI）</li>
                    <li>採用業務見える化支援</li>
                    <li>新規事業企画立案支援</li>
                    <li>収益改善施策検討</li>
                    <li>業務改革支援（BPR）</li>
                </ul>
            </div>
            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>IT</h1>
                <ul>
                    <li>IT戦略立案支援/IoT戦略立案支援</li>
                    <li>システム企画/要件定義/設計/移行支援</li>
                    <li>大規模システム開発プロジェクト管理</li>
                    <li>サイバーセキュリティ調査</li>
                    <li>クラウド構築（AWS/GCP/Azure）</li>
                    <li>RPA（Bizrobo）導入支援</li>
                    <li>ブロックチェーンビジネス検討支援</li>
                </ul>
            </div>
            
            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>アナリティクス</h1>
                <ul>
                    <li>病院のDPCデータ分析</li>
                    <li>ECサイトのレコメンデーションモデル構築</li>
                    <li>機械学習／ディープラーニングモデル構築（python/R/Tensorflow）</li>
                    <li>Watsonチャットボット機能構築</li>
                    <li>コンビニの売上予測分析モデルの構築</li>
                    <li>物流データ分析・業務改善</li>
                </ul>
            </div>
            
            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>WEB</h1>
                <ul>
                    <li>サイト構築におけるWEBディレクション</li>
                    <li>WEBサイトのUXデザイン(Sketch3)</li>
                    <li>WEBアプリケーション構築（Java/Rubu on rails）</li>
                    <li>大手ネット会社 ビジネスヂューデリジェンス</li>
                    <li>デジタルマーケティング支援</li>
                    <li>DMP/MA導入支援</li>       
                    <br><br>
                </ul>
            </div>
     
            
            
            <h4>有資格・会員</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
                <ul>
                    <li>中小企業診断士</li>
                    <li>証券アナリスト（二次合格／無登録）</li>
                    <li>AWS 認定ソリューションアーキテクト アソシエイト</li>
                    <li>IoTプロフェッショナル・コーディネータ</li>
                    <li>Scrum incプロダクトオーナー</li>
                    <li>データサイエンティスト協会会員</li>
                    <li>IoT共創ラボメンバー</li>
                    <li>RPA BANK会員</li>
                </ul>
            <br>
            
            <h4>主なITスキル</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
                <ul>
                    <li>プログラミング：Java／VBA／Ruby／SQL／HTML5／CSS3／Python／R言語</li>
                    <li>クラウド：AWS／Microsoft Azure／GCPによるIaaSアーキテクチャ構築</li>
                    <li>デザイン：Skecth3／Photoshop／ProttによるWebデザイン</li>
                    <li>Webマーケ：Google Analyticsによる分析・改善/SEO/リスティング等広告対応／DMP・マーケティングオートメーション導入・活用</li>
                    <li>Python／R言語による機械学習モデルの実装</li>
                    <li>SQL／Google Analytics／Datastudio／Power BI／Tableauによるデータ分析</li>
                    <li>Azure ML / Watson / GCPなどのクラウドサービスを用いたAIサービス・機械学習モデルの構築</li>
                </ul>
    　　</div>    　
    </div>

    <div class="row">
        <div class="col-xs-12" style="background:#000000; height:2px;" >
        </div>

        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
            <br>
            <img class="img-responsive center-block" src=<%= asset_path "nasukawa.jpg" %>>
    　　</div>
        <div class="col-md-8 col-xs-12" style="background:#ffffff" >
            <h1>那須川進一</h1>
            <h1>Nasukawa Shinichi</h1>
            <h1>データ活用戦略パートナー</h1>
            <h1>東京大学理学部数学科卒</h1>
            <p>
            公認会計士／アクチュアリ―／データサイエンティストとして活躍するデータ活用のプロフェッショナル。
            現在は弊社と並行して保険系FINTECHベンチャー：justInCaseのCAOとしても活躍
            </p>

            <ul>
                <li>あずさ監査法人（2004～2007）：公認会計士として会計監査担当</li>
                <li>マーサージャパン株式会社（2007~2013）：M&A／年金数理業務など</li>
                <li>株式会社デジタル・アドバタイジング・コンソーシアム（2013~2017）第二データ解析部長</li>
                <li>株式会社justInCase（2016~）を創業：人工知能を活用した保険アプリ事業</li>
                <li>株式会社エデュテックパートナーズ（2018~） パートナー参画</li>
            </ul>

            <h4>コンサルティング実績</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div>
            <br>

            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>監査・ビジネスコンサル</h1>
                <ul>
                    <li>大手リース会社の財務諸表監査（日本基準・米国基準） </li>
                    <li>その他、日本基準による財務諸表監査 </li>
                    <li>企業年金制度の設計・再構築案件多数 </li>
                    <li>企業年金に関する数理計算業務 </li>
                    <li>大手フォークリフト製造会社の合併などのM&Aデューデリジェンス多数</li>
                </ul>
            </div>
               
            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>アナリティクス</h1>
                <ul>
                    <li>DACのDMP（Audience One）などの自社ソリューションに搭載のデータ解析エンジンの立案・ロジック作成</li>
                    <li>データドリブンな広告配信に関する特許５件 </li>
                    <li>東京大学との人工知能分野の共同研究におけるDAC側のリード </li>
                    <li>日本初InsurTech企業であるjustInCaseの共同創業者</li> 
                    <li>人工知能による業務の完全自動化に向けて奮闘中</li>
                    <li>センサーデータを活用したリスクの定量化、保険料の算出に関する特許出願（審査中）</li>
                </ul>
            </div>
            
            <h4>有資格・会員</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
                <ul>
                    <li>公認会計士</li>
                    <li>アクチュアリー</li>
                </ul>
            <br>
            
            <h4>主なITスキル</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
            <br>
                <ul>
                    <li>Python／R言語を利用した機械学習モデル構築など</li>
    
    　　</div>    　
    </div>

    <div class = "row">
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                    <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
    </div>
</div>
</div>