<div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
    <h1>講師紹介</h1>
</div>

<div class="exp">

<div class="container">
    <div class="row">
        <div class="col-xs-12" style="background:#000000; height:2px;" >
        </div>

        <div class="col-md-4 col-xs-12" style="background:#ffffff" >
            <br>
            <img class="img-responsive center-block" src=<%= asset_path "shibata.png" %>>
    　　</div>
        <div class="col-md-8 col-xs-12" style="background:#ffffff" >
            <h1>柴田真吾</h1>
            <h1>Shingo Shibata</h1>
            <h1>講師／コンサルタント</h1>
            <h1>慶應義塾大学総合政策学部卒</h1>
            <p>アクセンチュア、KPMG FASを経てエデュテックパートナーズを創設。
            アクセンチュア入社後コンサルタントとしてシステム構築からアナリティクス・
            戦略まで幅広いコンサルタント業務を経験。自らアナリティクスを活用する
            実績を活かして、テクノロジー×ビジネス研修コンテンツを開発し、テクノロジー講座の主講師を担当
            </p>       

            <h4>講師実績</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div>
                <p>
                これまでにBCG、デロイト、アクセンチュアなどの若手コンサルタント、
                営業、経理、経営企画職などを中心に述べ40人以上の方々に対して
                、AI・IoT・ブロックチェーンでビジネスを考える研修を提供
                </p>
        
            <h4>コンサルティング実績</h4>
            <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
            </div>
            <br>

            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>ビジネス</h1>
                <ul>
                    <li>M&A戦略策定支援</li>
                    <li>各種デューデリジェンス</li>
                    <li>買収後統合支援（PMI）</li>
                    <li>採用業務見える化支援</li>
                    <li>新規事業企画立案支援</li>
                    <li>収益改善施策検討</li>
                    <li>業務改革支援（BPR）</li>
                </ul>
            </div>
            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>IT</h1>
                <ul>
                    <li>IT戦略立案支援/IoT戦略立案支援</li>
                    <li>システム企画/要件定義/設計/移行支援</li>
                    <li>大規模システム開発プロジェクト管理</li>
                    <li>サイバーセキュリティ調査</li>
                    <li>クラウド構築（AWS/GCP/Azure）</li>
                    <li>RPA（Bizrobo）導入支援</li>
                    <li>ブロックチェーンビジネス検討支援</li>
                </ul>
            </div>
            
            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>アナリティクス</h1>
                <ul>
                    <li>病院のDPCデータ分析</li>
                    <li>ECサイトのレコメンデーションモデル構築</li>
                    <li>ディープラーニングモデル構築（python/R/Tensorflow）</li>
                    <li>Watsonチャットボット機能構築</li>
                    <li>コンビニの売上予測分析モデルの構築</li>
                    <li>物流データ分析</li>
                </ul>
            </div>
            
    

            
            <div class ="col-md-6 col-xs-12" style="border:1px;">
                <h1>WEB</h1>
                <ul>
                    <li>サイト構築におけるWEBディレクション</li>
                    <li>WEBサイトのUXデザイン(Sketch3)</li>
                    <li>WEBアプリケーション構築（Java/Rubu on rails）</li>
                    <li>大手ネット会社 ビジネスヂューデリジェンス</li>
                    <li>デジタルマーケティング支援</li>
                    <li>DMP/MA導入支援</li>
                </ul>
            </div>

    　　</div>    　
    </div>

    <div class = "row">
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                    <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
    </div>
</div>
</div>