        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>共創型<br>コンサルティング</h1>
            <p>3カ月の短期プロジェクト形式で、共にテクノロジー×ビジネスを検討します。</p>
        </div>
        
<div class="container">   
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <p>
        テクノロジー×ビジネス講座を受講していただいた企業様の受講生と弊社コンサルタント
        とでチームを組んで実際、テクノロジーを利用した新規事業立案や戦略策定などを３ヶ月かけて実施します。
        従来のコンサルティングサービスとは異なり、実際のプロジェクトの中核となるのは企業様有志の
        プロジェクトメンバーのみなさまであり、弊社がアドバイザー兼講師となり、
        プロジェクト支援と人材育成を兼ねて支援します。</p>
        </div>
    </div>
</div>

<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <h4>基本スケジュール</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
        <br>
        <h1>3ヶ月間（合計24時間）</h1>
        <h1>【プロジェクト検討期間】</h1>
        <p>
          ・１ヶ月目：月4回×2時間のディスカッション（8時間）<br>
        　・２ヶ月目：月4回×2時間のディスカッション（8時間）</p>
        <h1>【プロジェクト仕上期間】</h1>
        <p>
          ・３ヶ月目：月4回×2時間のディスカッション（8時間）<br>
             丸1日かけた最終成果物作成（8時間）</p>
    　　</div>

         <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>時間と料金</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div>
            <p>
            ３ヶ月のアドバイザリー支援：300万円  
            </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>役割分担</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div><br>
            <h1>クライアント様</h1>
                <p>
                プロジェクトチームメンバーとしてプロジェクトに必要な調査・
                成果物の作成をしていただきます。プロジェクト完遂と共に人材育成も主眼に置いているため、
                クライアント様自らがプロジェクトを進める必要があります。
                </p>
        　　 <h1>弊社アドバイザー</h1>
                <p>
                プロジェクトのアドバイザー兼ファシリテーターとして、プロジェクトへのアドバイス、
                必要に応じた追加講義、プロジェクト進捗管理や成果物レビューを担当しますす。
                </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>対象者とゴール</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div><br>
            <h1>対象者</h1>
                <p>
                前提としてテクノロジー×ビジネスを考えることができる
                ノウハウを取得している必要があるため、テクノロジー×ビジネス講座の法人研修
                を受講した企業様有志によるプロジェクト形式を想定しております。
                </p>
            <h1>アウトプット</h1>
            <ul class= days>
                <li>AI／IoT／ブロックチェーンなどを活用した新規事業の立案</li>
                <li>全社あるいは事業部のデジタル戦略の立案</li>
                <li>デジタルトランスフォーメーション戦略の立案 など</li>
            </ul>
            <h1>人材育成</h1>
                <p>今後のデジタル戦略立案や新規事業立案を一貫して実行できる人材の育成
                </p>
        </div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>

