        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>テックレール<br>１０・１０・１</h1>
            <p>3カ月の短期プロジェクト形式で、共にテクノロジー×ビジネスを検討します。</p>
        </div>
        
<div class="container">   
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <p>
        テクテック講座を受講していただいた企業様の受講生の皆様と２５１のコンサルタント
        とでチームを組んで実際、テクノロジーを利用した新規事業立案や戦略策定などを３ヶ月かけて実施します。
        従来のコンサルティングサービスとは異なり、実際のプロジェクトの中核となるのは企業様有志の
        プロジェクトメンバーのみなさまであり、弊社がアドバイザー兼講師となり、
        プロジェクト支援と人材育成を兼ねて支援します。</p>
        </div>
    </div>
</div>

<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <h4>基本スケジュール</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" ></div>
        <br>
        <h1>10時間×10時間×1日の3ヶ月間</h1>
        <h1>【プロジェクト検討期間】</h1>
        <p>・１ヶ月目：月5回×2時間のディスカッション（10時間） <br>
        ・２ヶ月目：月5回×2時間のディスカッション（10時間）</p>
        <h1>【プロジェクト仕上期間】</h1>
        <p>・３ヶ月目：1日合宿形式での最終成果物作成（1日：8時間）</p>
    　　</div>

         <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>時間と料金</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div>
            <p>
            ３ヶ月のアドバイザリー支援：○○○万円  
            </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>対象者とゴール</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div><br>
            <h1>対象者</h1>
                <p>テックレール支援を実施する前提としてテクノロジー×ビジネスを考えることができる
                ノウハウを取得している必要があるため、テクテック講座を法人研修を受講生による
                プロジェクト形式を想定しております。</p>
            <h1>アウトプット</h1>
            <ul class= days>
                <li>AI／IoT／ブロックチェーンなどを活用した新規事業の立案</li>
                <li>全社あるいは事業部のデジタル戦略の立案</li>
                <li>デジタルトランスフォーメーション戦略の立案 など</li>
            </ul>
            <h1>人材育成</h1>
                <p>今後のデジタル戦略立案や新規事業立案を一貫して実行できる人材の育成
                </p>
        </div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"),inquiry_path %>
            </div>
        </div>
        
     </div>
</div>

