        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>AI活用に向けた長期自立自走支援</h1>
            <p>デジタル戦略や事業立ち上げの実行過程を支援します</p>
        </div>
        
<div class="container">   
<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <p>
        共創型コンサルティング支援を通じて立案した新規事業、戦略、組織改革などの
        実行過程を中長期にわたって支援します。
        弊社コンサルタントが企業様の実行チームのアドバイザリーとして定期的に課題対応、
        方法検討などについてディスカッションを行いプロジェクト完了までを支援するプログラムです。</p>
        </div>
    </div>
</div>

<div class="exp">            
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
        <h4>基本スケジュール</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
        </div>
        <h1>12ヶ月契約などの期間契約</h1>
        <h1>【12ヶ月契約例】</h1>
        <p>1ヶ月8時間のディスカッション × 12ヶ月<br>
         （週2時間程度の定期対応を想定しています。）</p>
        </div>
 
         <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>実施期間</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div>
            <p>
            6カ月～12ヶ月など中長期を想定
            </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>役割分担</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div><br>
            <h1>クライアント様</h1>
                <p>
                プロジェクトチームメンバーとしてプロジェクトに必要な調査・
                成果物の作成をしていただきます。プロジェクト完遂と共に人材育成も主眼に置いているため、
                クライアント様自らがプロジェクトを進める必要があります。
                </p>
        　　 <h1>弊社アドバイザー</h1>
                <p>
                プロジェクトのアドバイザー兼ファシリテーターとして、プロジェクトへのアドバイス、
                必要に応じた追加講義、プロジェクト進捗管理や成果物レビューを担当しますす。
                </p>
        </div>
 
        <div class="col-md-8 col-md-offset-2" style="background:#ffffff; " >
         <h4>対象者とゴール</h4>
         <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
         </div>
            <h1>対象者</h1>
            <ul class= days>
                <li>共創型コンサルティング時のプロジェクトメンバー</li>
                <li>中長期の支援が必要な経営者、経営企画の方 など</li>
            </ul>
            <h1>アウトプット</h1>
            <ul class= days>
                <li>デジタル新規事業の実行・実現</li>
                <li>デジタル戦略の実行・実現</li>
                <li>デジタルトランスフォーメーションの実行・実現 など</li>
            </ul>
            <h1>人材育成</h1>
            <ul class= days>
                <li>デジタル事業部やアナリティクス部門などの組織編成</li>
                <li>これまで研修を受けた人材を中核にデジタル事業部や新規事業部などを組成</li>
                <li>アナリティクスやデザイン等のクリエイティブチームの社内導入や文化定着</li>
            </ul>
        </div>

        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("inquiry2.png"), inquiry_path %>
            </div>
        </div>
    </div>
</div>

