        <div class="jumbotron" style="background:url(<%= asset_path "main.png" %>) no-repeat; background-site:cover;">
            <h1>弊社サービス</h1>
            <p>テクノロジー研修を軸として、イノベーション組織創設支援、次世代ビジネスモデル立案支援、チャットボット導入支援など最新テクノロジー専門のサービスを展開しています。
            </p>
        </div>
        

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>AIビジネス推進人材育成プログラム</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/rcPhd8iFMCWknW"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>  
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>ブロックチェーンビジネスモデル立案講座</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/MrUlNop4h1UF9y"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>デジタル戦略立案支援</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/e6lpMzZ7d6pGm8"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>  
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>デジタルビジネス立案</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/704AUwA807RIha"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>デジタル組織改革</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/iaN6QxUfA1K0KO"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>  
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>自社データAI活用支援</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/CFD6n1v7vjNfJa"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>
        </div>
        
        <div class="row">     
            <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>デジタル事業評価支援</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/hGo7L6jpPIxgan"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>  
             <div class="col-md-6 col-sm-6 col-xs-12 style"="background:#ffffff; " >
                <h2>AI開発支援</h2>
                <div class="youtube-container">
                    <h1 align="center">    
                    <iframe id="player" type="text/html" width="640" height="390"
                      src="//www.slideshare.net/slideshow/embed_code/key/1l7Dai0qdhiIqJ"
                      frameborder="0" allowfullscreen="true"></iframe>
                    </h1>
                </div>  
             </div>  
        </div>
  
        <div class="col-xs-12" style="padding:0; background:#C0C4F6; height:100px;">
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>