        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("voice.png"), static_pages_voice_path %>
            </div>
        </div>


<div class="exp">  
<div class="container"> 
    </div>
        <h4>受講生の声</h4>
        <div class="col-md-12" style="background:#A8ACAB; height:1px;" >
        </div><br>
        
    <div class = "row">
        <div class="col-xs-12" style="background:#ffffff;" >
            <h1>佐藤次郎</h1>
            <h1>株式会社エンペラー</h1>
            <p>
            初めの印象は「ビジネススクールというと仰々しい所なんだろう」「論理思考の講師はロジックばかり
            を振り回すような人」という勝手なイメージを持っていました。しかし、グロービスでは授業が始まる前に
            、初めて受講を開始する人向けにオリエンテーションを開催しています。
            私も緊張しながら参加したのですが、スクールの責任者として出てきた
            元気よく説明を始めた女性スタッフを見て、イメージがすぐに覆されました。
            オリエンテーションでは、一緒に学び始める方と話をする機会もあり、楽しく学べそうだと思いました。
            ただし、「楽しい」というのと「楽」なのは違います。クリティカル・シンキングの初回クラス
            で提出する課題を「これで充分だろう」というところまで考えてクラスに臨んだのですが、
            打ちのめされました（笑）。その時は「いつも考えているのとは違う視点が必要なんだな」
            と感じた瞬間でしたね。
            </p> 
        </div>
        <div class="col-xs-12" style="background:#ffffff;" >
            <h1>佐藤次郎</h1>
            <h1>株式会社エンペラー</h1>
            <p>
            初めの印象は「ビジネススクールというと仰々しい所なんだろう」「論理思考の講師はロジックばかり
            を振り回すような人」という勝手なイメージを持っていました。しかし、グロービスでは授業が始まる前に
            、初めて受講を開始する人向けにオリエンテーションを開催しています。
            私も緊張しながら参加したのですが、スクールの責任者として出てきた
            元気よく説明を始めた女性スタッフを見て、イメージがすぐに覆されました。
            オリエンテーションでは、一緒に学び始める方と話をする機会もあり、楽しく学べそうだと思いました。
            ただし、「楽しい」というのと「楽」なのは違います。クリティカル・シンキングの初回クラス
            で提出する課題を「これで充分だろう」というところまで考えてクラスに臨んだのですが、
            打ちのめされました（笑）。その時は「いつも考えているのとは違う視点が必要なんだな」
            と感じた瞬間でしたね。
            </p> 
        </div>

        <div class="col-xs-12" style="background:#ffffff;" >
            <h1>佐藤次郎</h1>
            <h1>株式会社エンペラー</h1>
            <p>
            初めの印象は「ビジネススクールというと仰々しい所なんだろう」「論理思考の講師はロジックばかり
            を振り回すような人」という勝手なイメージを持っていました。しかし、グロービスでは授業が始まる前に
            、初めて受講を開始する人向けにオリエンテーションを開催しています。
            私も緊張しながら参加したのですが、スクールの責任者として出てきた
            元気よく説明を始めた女性スタッフを見て、イメージがすぐに覆されました。
            オリエンテーションでは、一緒に学び始める方と話をする機会もあり、楽しく学べそうだと思いました。
            ただし、「楽しい」というのと「楽」なのは違います。クリティカル・シンキングの初回クラス
            で提出する課題を「これで充分だろう」というところまで考えてクラスに臨んだのですが、
            打ちのめされました（笑）。その時は「いつも考えているのとは違う視点が必要なんだな」
            と感じた瞬間でしたね。
            </p> 
        </div>
        <div class="col-xs-12" style="background:#ffffff;" > 
            <h1>佐藤次郎</h1>
            <h1>株式会社エンペラー</h1>
            <p>
            初めの印象は「ビジネススクールというと仰々しい所なんだろう」「論理思考の講師はロジックばかり
            を振り回すような人」という勝手なイメージを持っていました。しかし、グロービスでは授業が始まる前に
            、初めて受講を開始する人向けにオリエンテーションを開催しています。
            私も緊張しながら参加したのですが、スクールの責任者として出てきた
            元気よく説明を始めた女性スタッフを見て、イメージがすぐに覆されました。
            オリエンテーションでは、一緒に学び始める方と話をする機会もあり、楽しく学べそうだと思いました。
            ただし、「楽しい」というのと「楽」なのは違います。クリティカル・シンキングの初回クラス
            で提出する課題を「これで充分だろう」というところまで考えてクラスに臨んだのですが、
            打ちのめされました（笑）。その時は「いつも考えているのとは違う視点が必要なんだな」
            と感じた瞬間でしたね。
            </p> 
        </div>
    </div>
    
    </div>
        <div class="col-xs-12" style="background:white; height:100px;">     
            <div class="logo2">
                <%= link_to image_tag("yoyaku.png"), reserve_path %>
            </div>
        </div>
    </div>
</div>
</div>


