@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  padding-top: 76px;
}

.container {
    max-width: 100%;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* navigation */  
.nav {
  display: inline-block;
  text-align: right;
  font-family: AmericanTypewriter-Bold;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
}

.footer  {
  text-align: center;
  font-family:  HiraKakuPro;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}


/* top-message */
.jumbotron h1 {
  margin: 0;
  padding: 15px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-family: HiraKakuPro;
}
  
.jumbotron p {
  margin: 0;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
  
.logo2 {
  text-align: center;
  margin-top: 30px;
}

.logo3 {
  text-align: center;
}

.logo3 p {
  font-size: 11px;
  text-align: center;
}

/* メインバー */
.gaiyo a {
  display: block;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.gaiyo a:hover{
  opacity: 0.8;
}

.icon{
  padding-top: 40px;
  padding-bottom: 40px;
  background: #0093FF;
}

.gaiyo h1{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 26px;
  font-weight: normal;
}

.gaiyo p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2935F4;
  font-size: 16px;
}

/* inquiry */
.page-header {
  text-align: center;
}

.inquiry {
  text-align: center;
}

.inquiry h1 {
  font-size: 14px;
  text-align: left;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: -15px;
  font-weight: bold;
}

.inquiry h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.inquiry h3 {
  font-size: 12px;
  text-align: left;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: -15px;
}

.inquiry p {
  font-size: 11px;
  text-align: left;
  margin-left: 30px;
}

.inquiry h4 {
  text-align: left;
  margin-left: 30px;
  margin-bottom: -15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 20px;
  letter-spacing: -2px;
  margin-bottom: 20px;
  font-weight: bold;
}


h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: bold;
}

h3 {
  text-align: left;
  text-size:8px;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px 0px #000;
  }
h4 {
  text-align: left;
  text-size:5px;
  letter-spacing: 0.15em;
  }

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
