<footer>
  <nav class="navbar navbar-inverse">
        <div class="footer">
              <h1 class="logo2">
              <%= image_tag "logo3.png" %>
              </h1>
              〒160-0023 東京都新宿区西新宿8-3-1<br>
              西新宿GFビル<br>
              <%= link_to "問い合わせ", inquiry_path %><br>
              admin@edutech.co.jp<br>
              <%= link_to "セミナーの予約", reserve_path %><br> 
              <%= link_to "プライバシーポリシー", static_pages_privacy_path %><br><br>  
              Copyright © EduTech Partnars All rights reserved.<br>
        </div>
  </nav>
</footer>