<footer>
  <nav class="navbar navbar-inverse">
        <div class="footer">
              <h1 class="logo2">
              <%= image_tag "logo3.png" %>
              </h1>
              〒141-0001 東京都品川区北品川5-5-15<br>
              大崎ブライトコア4階<br>
              <%= link_to "問い合わせ", inquiry_path %><br>
              <%= link_to "セミナーの予約", reserve_path %><br> 
              <a href ="#">サイトマップ</a><br> 
              <a href ="#">プライバシーポリシー</a><br><br>   
              Copyright © EduTech Partnars All rights reserved.<br>
        </div>
  </nav>
</footer>