  <nav class="navbar navbar-inverse">
        <div class="footer">
              <h1 class="logo2">
              <%= image_tag "logo1.png" %>
              </h1>
              〒162-0065 東京都新宿区住吉町8-6<br>
              野村ビルディング曙橋10階<br> 
              TEL 03-5341-4281<br> 
              <a href ="#">問い合わせ</a><br> 
              <a href ="#">サイトマップ</a><br> 
              <a href ="#">プライバシーポリシー</a><br><br>   
              Copyright © 251 Technology All rights reserved.<br>
        </div>
  </nav>